button{
    background-color: blue;
    color: white;
    padding: 20px;
  width: 186px;
  height: 70px;
  font-size: 25px;
  border-radius: 20px;
}
button:hover{
    color: white;
    background-color: rgb(46, 46, 240);
    cursor: pointer;
    box-shadow: 10px 5px 5px grey;
}